## Python Basics:

### Print, Assignment Operators and Variables:

In [5]:
print("Learning AI with New Hope")

Learning AI with New Hope

In [9]:
print("3232ew@$@$")

3232ew@$@$

In [85]:
#Name Error - only comes with Spelling mistake and undefined variable name
Print("hello")

NameError: name 'Print' is not defined

In [93]:
# Undefined variable name - like without initilized the variable name and when we call that name we get Name Error
print(mul)  # not initilized anywhere above and it will not saved on memory

NameError: name 'mul' is not defined

### Assignment Operators and Variables :

In [24]:
num1 = 10  # num1 is variable and '=' is assignment operator
num2 = 30
add = num1 + num2
print(add)

40

### Invalid syntax Error - space btw variable name

In [27]:
first name = "my name is jai"

SyntaxError: invalid syntax (2554222466.py, line 1)

In [29]:
first_name = "my name is jai"
firstName = " hello"
FirstName = " mani"

In [31]:
print(first_name)
print(firstName)
print(FirstName)

my name is jai
 hello
 mani

### Baby Code: use python code to print the same below lines
- The addition of two numbers
###The number1: 10   
The number2: 20   
The answer: 
  30
 30

In [59]:
print("The addition of two numbers")
num1 = 10
print("The number1:",num1)
num2 = 20
print("The number2:",num2)
add = num1+num2
print("The answer:",add)

The addition of two numbers
The number1: 10
The number2: 20
The answer: 30

### Input Keyword:

In [79]:
num1 = input("Enter the number one :") # By default it will take it as "String" = now 20 is string

Enter the number one : 20

In [81]:
num2 = int(input("Enter the nnumber two :")) # now it will convert string to integer

Enter the nnumber two : 30

In [ ]:
num3

In [83]:
add1 = num1 + num2
print(add1)

TypeError: can only concatenate str (not "int") to str

### Control structures: 
### **IF**

In [96]:
if():
    print()

1.NameError

In [98]:
if(age==18): 
    print("Adult")

NameError: name 'age' is not defined

2.because above age1 is string - didn't converted to integer

In [102]:
age1 = input("Enter your age")

Enter your age 22

In [106]:
if(age1==18):
    print("Adult")
else:
    print("Error") # because above age1 is string - didn't converted to integer

Error

3.Correct one

In [117]:
age2 = int(input("Enter your age"))

Enter your age 18

In [119]:
if(age2==18):
    print("Adult")
else:
    print("Error") # because above age1 is string - didn't converted to integer

Adult

13. Indentation 'Keywords'

In [129]:
if(condition):
    print()
else:
    print()

NameError: name 'condition' is not defined

In [131]:
for temp in range(1,20):
    print("1")

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

**14. if-else?** 
- two condition

In [160]:
# Q: check the age and print it is grater than 18 or not
age3 = int(input("Enter your age"))

Enter your age 45

In [162]:
if(age3>=18):
    print("Age is grate than 18 : your age is -",age3)

else:
    print("Age is lesser than 18 : your age is - ",age3)

Age is grate than 18 : your age is - 45

In [164]:
if(age3<18):
    print("Children")

else:
    print("Adult")

Adult

<h2> 15: if-elif? 
- More than 2 condition --> if-elif can be used

In [167]:
if():
    print()
elif():
    print()
elif():
    print()
else:
    print()

In [173]:
#age<18 --child
#age<35 --Adult
#age<59 --Citizen
#age>59 --Senior Citizen
if(age3<18):
    print("Child")
elif(age3<35):
    print("Adult")
elif(age3<59):
    print("Citizen")
else:
    print("Senior Citizen")

Citizen

**17: For Loop**
* To check the multiple conditions

In [183]:
lists = [22,62,18,34,15]

In [185]:
for temp in lists:
    print(temp)

22
62
18
34
15

In [194]:
for age in lists:
    if(age<18):
        print("Child")
    elif(age<35):
        print("Adult")
    elif(age<59):
        print("Citizen")
    else:
        print("Senior Citizen")

Adult
Senior Citizen
Adult
Adult
Child

**18. How to write Logic?**

In [200]:
# Find ODD or EVEN numbers:
for x in lists:
    if(x%2==0):
        print("Even Number")
    else:
        print("ODD Number")

Even Number
Even Number
Even Number
Even Number
ODD Number

In [207]:
num5 = int(input("Enter the number"))
if(num5%2==0):
    print("Even Number")
else:
    print("ODD Number")

Enter the number 9587432

Even Number

In [209]:
num5 = int(input("Enter the number"))
if(num5%2==1):
    print("ODD Number")    
else:
    print("Even Number")

Enter the number 13

ODD Number

**19. Range**

In [216]:
for temp in range(0,10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [218]:
for temp in range(0,10,3):
    print(temp)

0
3
6
9